<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Count</title>
</head>
<body>
    <h1>Word Count</h1>
    <p>Enter your text provided in area below</p>
    <form action="{% url 'count' %}">
        <textarea name="text" id="t1" cols="50" rows="20"></textarea>
        <br>
        <input type="submit" value="count">
        <br><br><br>
    </form>
    <a href="{% url 'about' %}"><button>About</button></a>
</body>
</html>
